


.container {
    height: 600px;
    width: 800px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5%;
    left:25%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    .chat {
        height: 400px;
        border: 1px solid black;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        
    }
    
    .inputBox {
        height:200px;
        width: 800px;
        display:flex;
        flex-direction: row;
        
        textarea {
            min-width:90%;
            padding:10px;
            
        }
    }
}



.sendBut {
    background-color: palegreen;
    font-size: large;
    font-weight: bolder;

}

.userBox {
    margin-left: auto;
    margin-top:10px;
    margin-right:10px;
    border-radius: 5px;
    color: black;
    max-width: 60%;
    background-color: palegreen;
    padding:10px;
    display:block;
}
.botBox {
    margin-left:10px;
    margin-top:10px;
    border-radius: 5px;
    color: black;
    max-width: 60%;
    background-color: azure;
    margin:10px;
    padding: 10px;
    display:block;
}